<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Student Database</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<a href="/hogwarts/students">Full roster</a>
  <%= yield %>
</body>
</html>